header {display: block; height: 80px; margin-left: 2rem; margin-top: 0; margin-bottom: 0; background-color: darkred; width: 60% ;font-size: medium;color: white;}
H1 { color: white; margin: 6px ; padding-bottom: 50px;}
ul {list-style-type: none; margin-left: 2rem; padding: 0; overflow: hidden; background-color: gray; width: 60%;}
li {float: left;}
a {display: block; color: darkred; text-align: center; padding: 14px 16px; text-decoration: none;}
/* Change the link to color gray and text colot to dark red on hover*/
.menu a:hover {background-color: dimgray; color:darkred;}
.menu a:active {background-color: white; color:darkred;}
.intro {margin: 2rem;}
img {margin: 2rem;}
h2 {margin: 2rem; font-size: large; color: darkred;}
h3 {margin: 2rem; font-size: large; color:darkred}
p {margin: 2rem; width: 60%;}
ul.why {background-color: white; list-style-type: circle;}
li.bullet {float:none; list-style-type: circle;}
.image-row {display: flex; justify-content: space-between; background-color: darkred; color:white; text-wrap: wrap; padding: 0; text-align: center; margin: 2rem; width: 60%;}
table {display: flex; background-color: grey; color: darkred; margin-left: 2rem; text-align: left; width: 60%; font-size: medium; border-top: 1px; color: black; border-bottom: 1px; color: black; }
th {padding: 6px}
tr {padding: 6px}
td { padding: 6px}
input[type="text"]{ background-color: white; color: darkred; width: 50%;}
Form {border: solid; border-color: black; border-width: 2px; padding-top: 20px; padding-left: 12px; margin: 2rem; width: 60%; }
#submit {background-color: darkred; color: white; margin-top: 20px; text-align: center; display: block; margin: 0 auto;}
